version: '3.1'

services:
  s_api_gateway:
    container_name: c_api_gateway
    image: emreokuyucu/apigateway
    build:
      context: .
      dockerfile: ApiGateway/DockerFile
    ports:
      - 80:80
    networks:
      - micro_net
      - int_net


 s_contact_api:
   container_name: c_contact_gateway
   image: emreokuyucu/contactapi
   build:
     context: .
     dockerfile: Services/ContactAPI/Contact.API/DockerFile
   ports:
     - 9000:9000
   networks:
     - micro_net


 s_res_api:
   container_name: c_res_gateway
   image: emreokuyucu/resapi
   build:
     context: .
     dockerfile: Services/RestAPI/Reservation.API/DockerFile
   ports:
     - 7000:7000
   networks:
     - micro_net




networks:
  int_net: 
    driver: overlay
    internal: true
  micro_net:
    driver:bridge


